<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yonalishlar</title>
</head>
<body>
<h1>Yonalishlar ro'yxati</h1>
<hr>
{% for yonalish in yonalishlar %}
<p>{{ forloop.counter }}.
    <a href="/yonalishlar/{{ yonalish.id }}/details/">
        {{ yonalish.nom }}
    </a>
    <a href="/yonalishlar/{{ yonalish.id }}/update/">
        <button>Tahrirlash</button>
    </a>
    <a href="/yonalishlar/{{ yonalish.id }}/delete/tasdiqlash/">
        <button>O'chirish</button>
    </a>
</p>
{% endfor %}

<a href="/yonalishlar/yonalish_qoshish">
    <button>Yo'nalish qo'shish</button>
</a>
<br><br>
<a href="/">Bosh sahifaga qaytish</a>
</body>
</html>